<div class = "container">

<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= render 'filter' %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Neighborhood</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @re_entrants.each do |re_entrant| %>
      <tr>

        <td><%= link_to re_entrant.user.name, re_entrant_path(re_entrant) %></td>
        <td><%= re_entrant.neighborhood %></td>
        <td><%= link_to 'Edit', edit_re_entrant_path(re_entrant) %></td>
        <td><%= link_to 'Delete', re_entrant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Re Entrant', new_re_entrant_path %>

</div>