<p id="notice"><%= notice %></p>

<h1>Re Entrants</h1>

<table>
  <thead>
    <tr>
      <th>Neighborhood</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @re_entrants.each do |re_entrant| %>
      <tr>
        <td><%= re_entrant.neighborhood %></td>
        <td><%= re_entrant.user %></td>
        <td><%= link_to 'Show', re_entrant %></td>
        <td><%= link_to 'Edit', edit_re_entrant_path(re_entrant) %></td>
        <td><%= link_to 'Destroy', re_entrant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Re Entrant', new_re_entrant_path %>
