<p id="notice"><%= notice %></p>
<h2><%= @re_entrant.user.name %></h2>
<p>
  <strong>Neighborhood:</strong>
  <%= @re_entrant.neighborhood %>
</p>

<table>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Referred By</th>
    </tr>
  </thead>


  <tbody>
    <% @transactions.each do |referral| %>
      <tr>
        <td><%= referral.resource.name %></td>
        <td><%= referral.outreach_worker.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_re_entrant_path(@re_entrant) %> |
<%= link_to 'Back', re_entrants_path %>
