<p id="notice"><%= notice %></p>

<p>
  <strong>Neighborhood:</strong>
  <%= @re_entrant.neighborhood %>
</p>

<p>
  <strong>User:</strong>
  <%= @re_entrant.user %>
</p>

<%= link_to 'Edit', edit_re_entrant_path(@re_entrant) %> |
<%= link_to 'Back', re_entrants_path %>
