<div class="container">

<p id="notice"><%= notice %></p>
<h2>Welcome back, <%= @re_entrant.user.name %></h2>

<hr>

<h4>Account Information</h4>

<p>
  <strong>Email:</strong>
  <%= @re_entrant.email %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @re_entrant.phone %>
</p>
<p>
  <strong>Neighborhood:</strong>
  <%= @re_entrant.neighborhood %>
</p>

<%= link_to 'Edit Your Account', edit_re_entrant_path(@re_entrant) %> 








</div>