<div class="container">

<p id="notice"><%= notice %></p>

<h2>
<%= @outreach_worker.user.name %>
</h2>

<% if not @outreach_worker.active %>
  <p>This user is inactive</p>
  <% end %>

<h4>Account Information</h4>

<p>
  <strong>Email:</strong>
  <%= @outreach_worker.email %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @outreach_worker.phone %>
</p>
<p>
  <strong>Organization:</strong>
  <% if @outreach_worker.organization.blank? %>
    N/A
  <% else %>
  <%= @outreach_worker.organization %>
  <% end %>
</p>

<% if @outreach_worker.user == current_user %> 
<%= link_to 'Edit Your Account', edit_outreach_worker_path(@outreach_worker) %>
<% end %>


<%if current_user.role?(:admin) %>
    <% if @outreach_worker.active %>
      <%= link_to(deactivate_sow_path_url, class: 'btn btn-primary btn-raised btn-lg') do %>
        &nbsp;<%= "Deactivate Street Outreach Worker" %>
      <% end %>
     <% else %>
       <%= link_to(reactivate_sow_path_url, class: 'btn btn-primary btn-raised btn-lg') do %>
        &nbsp;<%= "Reactivate Street Outreach Worker" %>
      <% end %>
    <% end %>
  <%end%>





</div>