<div class="container">

<p id="notice"><%= notice %></p>

<h2>
  Welcome back, <%= @outreach_worker.user.name %>
</h2<hr>

<h4>Account Information</h4>

<p>
  <strong>Email:</strong>
  <%= @outreach_worker.email %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @outreach_worker.phone %>
</p>
<p>
  <strong>Organization:</strong>
  <% if @outreach_worker.organization.blank? %>
    N/A
  <% else %>
  <%= @outreach_worker.organization %>
  <% end %>
</p>

<%= link_to 'Edit Your Account', edit_outreach_worker_path(@outreach_worker) %>







</div>