<p id="notice"><%= notice %></p>

<h2>
  <%= @outreach_worker.user.name %>
</h2>

<p>
  <strong>Organization:</strong>
  <%= @outreach_worker.organization %>
</p>


<%= link_to 'Edit', edit_outreach_worker_path(@outreach_worker) %> |
<%= link_to 'Back', outreach_workers_path %>
