<div class="container">

<!-- <p id="notice"><%= notice %></p> -->

  <%= render 'search' %>

  <h4>Resources</h4>
  <p>We provide a variety of employment and educational resources. Filter through our categories to secure the right resource for you.</p>

  <% @resources.alphabetical.each do |resource| %>
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title"><%=link_to resource.name, resource_path(resource)%></h4>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text"><%=resource.desc %> </p>
        <% if current_user.role?(:reentrant) %>
          <a href="<%= resource.webpage %>" class="card-link">Visit Website</a>
          <a href="<%=resource_path(resource)%>" class="card-link">View Resource</a>
        <% else %>
          <a href="<%=resource_path(resource)%>" class="card-link">View Resource</a>
          <a href="<%=share_resource_path_url(resource)%>" class="card-link">Share</a>

        <% end %>
      </div>
    </div>
  <% end %>

  <br>

  <%= link_to 'New Resource', new_resource_path %>

</div>
