<div class="container">

	<p id="notice"><%= notice %></p>

	<h2><%= @resource.name %></h2>
	<hr>

	<!-- <img src="<%= @resource.image %>"> -->

	<ul class="resource-info">
	  <li class="phone"><%= @resource.phone %></li>
	  <li class="mail"><%= @resource.email %></li>
	  <li class="website"> <a href="<%= @resource.webpage %>"><%= @resource.webpage %></a></li>
	  <li class="address"><%= @resource.address %></li>

	</ul>
	<table>
  <thead>
    <tr>
      <th>Tags</th>
    </tr>
  </thead>
		<tbody>
    	<% @tags.each do |tag_obj| %>
      	<tr>
        	<td><%= link_to tag_obj.tag.name, tag_path(tag_obj.tag) %></td>
      	</tr>
    	<% end %>
  	</tbody>
	</table>
	<p><%= @resource.desc %></p>

	<p><a href="<%= @resource.webpage %>" class="btn btn-primary btn-raised btn-lg">Visit Website</a></p>
	<%if current_user.role?(:reentrant) %>
    <p><a href="<%= use_resource_path_url %>" class="btn btn-primary btn-raised btn-lg">Verify Resource Used</a></p>
  <%end%>


	<!-- <details>
	  <summary>Description</summary>
	  <p class="description longtext">
	      <%= @resource.desc %>   
	  </p>
	</details> -->

	<%= link_to 'Edit', edit_resource_path(@resource) %> |
	<%= link_to 'Back', resources_path %>

</div>