<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @resource.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @resource.endDate %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @resource.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resource.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @resource.address %>
</p>

<p>
  <strong>Image:</strong>
  <%= @resource.image %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @resource.desc %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @resource.webpage %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
