<div class="container">

	<p id="notice"><%= notice %></p>

	<h2><%= @resource.name %></h2>
	<hr>

	<!-- <img src="<%= @resource.image %>"> -->

	  <b>Phone</b>: <%= @resource.phone %>
	  <br>
	  <% if @resource.email.blank? %>

	  <% else %>
	  	<b>Email</b>: <%= @resource.email %>
	  	<% end %>
	  <br>
	  <b>Address</b>: <%= @resource.address %>

	  <br>

<% if @tags.empty? %>
<% else %>

<table>
  <thead>
    <tr>
      <th>Tags</th>
    </tr>
  </thead>

	<tbody>
    	<% @tags.each do |tag_obj| %>
      	<tr>
        	<td><%= link_to tag_obj.tag.name, tag_path(tag_obj.tag) %></td>
      	</tr>
    	<% end %>
  	</tbody>

</table>

<% end %>

<br>

	<p><%= @resource.desc %></p>

	<p><a href="<%= @resource.webpage %>" class="btn btn-primary btn-raised btn-lg">Visit Website</a></p>
	<%if @referred %>
    <p><a href="<%= use_resource_path_url %>" class="btn btn-primary btn-raised btn-lg">Verify Resource Used</a></p>
  <%end%>


	<% if current_user.role?(:admin) %>
    <%= link_to 'Edit', edit_resource_path(@resource)%>
  <% end %>

	<%= link_to 'Back', resources_path %>

</div>