<p id="notice"><%= notice %></p>

<h2><%= @resource.name %></h2>>

<img src="<%= @resource.image %>">

<ul class="resource-info">
  <li class="phone"><%= @resource.phone %></li>
  <li class="mail"><%= @resource.email %></li>
  <li class="website"> <a href="<%= @resource.webpage %>"><%= @resource.webpage %></a></li>
  <li class="address"><%= @resource.address %></li>
</ul>


<details>
  <summary>Description</summary>
  <p class="description longtext">
      <%= @resource.desc %>   
  </p>
</details>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
