<div class="container">

	<p id="notice"><%= notice %></p>

	<h2><%= @resource.name %></h2>
	<% if not @resource.active %>
	<p>This resource is inactive</p>
	<% end %>
	<hr>

	<!-- <img src="<%= @resource.image %>"> -->

	  <p><b>Phone</b>: <%= @resource.phone %></p>
	  
	  <% if @resource.email.blank? %>

	  <% else %>
	  	<p><b>Email</b>: <%= @resource.email %></p>
	  	<% end %>
	  <p><b>Address</b>: <%= @resource.address %></p>


<% if @tags.empty? %>
<% else %>

<table>
  <thead>
    <tr>
      <th>Tags</th>
    </tr>
  </thead>

	<tbody>
    	<% @tags.each do |tag_obj| %>
      	<tr>
        	<td><%= link_to tag_obj.tag.name, tag_path(tag_obj.tag) %></td>
      	</tr>
    	<% end %>
  	</tbody>

</table>

<% end %>

<br>

	<p><%= @resource.desc %></p>

	
	<%if @referred %>
    <p><a href="<%= use_resource_path_url %>" class="btn btn-primary btn-raised btn-lg">Verify Resource Used</a></p>
  <%end%>

  <p><a href="<%= @resource.webpage %>" class="btn btn-primary btn-raised btn-lg">Visit Website</a>
  	<%if current_user.role?(:sow) %>
		<a href="<%=share_resource_path_url(@resource)%>" class="btn btn-primary btn-raised btn-lg">Share</a>
  	<%end%>
  </p>

  
	<%if current_user.role?(:admin) %>
		<a href="<%= edit_resource_path(@resource) %>" class="btn btn-primary btn-raised btn-lg">Edit</a>
		<% if @resource.active %>
	  	<%= link_to(deactivate_resource_path_url, class: 'btn btn-primary btn-raised btn-lg') do %>
	  		&nbsp;<%= "Deactivate Resource" %>
	    <% end %>
	   <% else %>
	     <%= link_to(reactivate_resource_path_url, class: 'btn btn-primary btn-raised btn-lg') do %>
  		  &nbsp;<%= "Reactivate Resource" %>
      <% end %>
    <% end %>
  <%end%>
  <br>
  <br>
   <a href="<%= resources_path %>" class="btn btn-primary btn-raised btn-lg">Back</a>
</div>