<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :resource_id, :value => params[:id] %>
  <%= form.hidden_field :outreach_worker_id, :value => @sharer.id %>
  


  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
