<!DOCTYPE html>
<html>
  <head>
    <title>NewERA412 | <%= controller.controller_name.capitalize %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Partials for the topbar and navigation -->

    <% if logged_in? && current_user.role?(:outreach_worker) %>
      <%= render :partial => "partials/nav_sow" %>
    <% elsif logged_in? && current_user.role?(:re_entrant) %>
      <%= render :partial => "partials/nav_reentrant" %>
    <% elsif logged_in? && current_user.role?(:admin) %>
      <%= render :partial => "partials/nav_admin" %>
    <% else %>
      <%= render :partial => "partials/nav_guest" %>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="col s12">

          <main>
         

          <!-- MAIN CONTENT OF TEMPLATE GOES HERE -->
          <%= yield %>
        </main>

        </div>
      </div>
    </div>
    
    <%= render :partial => "partials/footer" %>  
  </body>
</html>
