<!DOCTYPE html>
<html>
  <head>
    <title>NewERA412</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Partials for the topbar and navigation -->
    <%= render :partial => "partials/topbar" %>
    <% if logged_in? %>
      <%= render :partial => "partials/nav" %>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="col s12">

          <main>
         

          <!-- MAIN CONTENT OF TEMPLATE GOES HERE -->
          <%= yield %>
        </main>

        </div>
      </div>
    </div>
    
    <%= render :partial => "partials/footer" %>  
  </body>
</html>
